h1 {
  font-size: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
}
.glow {
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px turquoise,
    0 0 82px turquoise, 0 0 92px turquoise, 0 0 102px turquoise,
    0 0 151px turquoise;
}

body {
  background-color: black;
}
.image {
  float: left;
  padding: right 10%;
}
.image2 {
  float: right;
  padding: left 30px;
}
